* {
    padding: 0;
    margin: 0;
    font-family:  sans-serif;

}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: url(star.png),linear-gradient(to bottom,#391eb39c,rgb(6, 21, 11));

}
.content .ramadan {
    background: linear-gradient(to left,#aec9cf,#153b41);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
    animation:ahmed 10s linear 2s infinite alternate both running  ;

}
.h {
    position: absolute ;
    bottom: 80px;
    left: 20px;
    font-size: 40px;
    color: #080d41;
    font-weight: 700;
}


@keyframes ahmed {

0% {
    translate: 0 0;
}

25% {
    translate: 300px -200px;
}

50% {
    translate: 200px -200px;
}

75% {
    translate: 300px -200px;
}

100% {
    translate: -200px 300px;
}




}